*{
	margin: 0px;
	padding: 0px;
}
body{
	background: url(../img/bg2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Oswald', sans-serif;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
/**************** Theme CSS ****************/
/**************** ABOUT SECTION ****************/
.about{
	width: 100%;
	float: left;
}
h1{
	color: #6DBB6A;
	padding: 35px 10px 5px 55px;
	font-size: 30px;
}
.about-one{
	width: 42%;
	float: left;
	background-color:#000000bf;
	margin: 380px 0px 0px 150px;
}
.about-one h2{
	padding: 5px 10px 5px 55px;
	font-size: 20px;
	color: white;
	line-height: 55px;
}
.about-one span{
	color: #6DBB6A;
}
.about-one p{
	padding: 0px 10px 10px 55px;
	font-size: 12px;
	color: white;
	line-height: 30px;
	letter-spacing: 1px;
}
.btn{
	background-color: #1F96F2;
	margin: 20px 10px 20px 55px;
	padding: 10px 30px;
	border-radius: 18px;
	border: none;
	color: white;
	font-size: 15px;
	font-weight: bold;
}
.btn:hover{
	background-color: #6DBB6A;
}
.about-two{
	width: 38%;
	margin: 65px 0px 40px 73px;
	display: block;
	float: left;
	background-color:#131414e8;
	border-radius: 10px;
}
.about-two h3{
	text-align: center;
    padding: 50px 0px 10px 0px;
  	color: white;
}
.about-two p{
	text-align: center;
	font-size: 15px;
	color: white;
	margin: 0px 0px 20px 0px;
}
.form-control{
	width: 80%;
	padding: 6px;
	margin: 5px 0px 7px 40px;
	border: 2px solid #1F96F2;
}
.room-cnt{
	width: 65%;
	padding: 6px;
	margin: 5px 0px 7px 5px;
	border: 2px solid #1F96F2;
}
.room-control{
	width: 10%;
	padding: 6px;
	margin: 5px 0px 7px 40px;
	font-size: 14px;
	color: white;
}
.guest-cnt{
	width: 56%;
	padding: 6px;
	margin: 5px 0px 7px 5px;
	border: 2px solid #1F96F2;
}
.guest-control{
	width: 10%;
	padding: 6px;
	margin: 5px 0px 7px 40px;
	font-size: 14px;
	color: white;
}
.pickup-cnt{
	color: white;
}















.form-btn{
	width: 83%;
	padding: 8px;
	margin: 15px 0px 50px 40px;
	background-color:#6DBB6A ;
	color: white;
	box-shadow: 0px 2px white;
	border: none;
	font-size: 15px;
	font-weight: bold;
}
.form-btn:hover{
	background-color: #1F96F2;
}
